<div class="container">
  <div class="d-flex flex-column align-items-center my-5">
    <h1>The Longest Word Game</h1>
  </div>

<%# Letters Container %>
  <div class="d-flex flex-column align-items-between my-5">
  <div class="row align-items-center border">
    <% @letters.each do |letter| %>
    <div class="col p-3 m-2 bg-dark text-white text-center font-weight-bold"><%= letter %></div>
    <% end %>
  </div>
  </div>

<%# Input Form %>
  <form action="/score" method="post" data-turbo="false">
    <div class="form-group">
      <label for="word">What is the longest word you can find?</label>
      <div class="input-group mb-3">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input class="form-control" type="text" name="word" id="playerInput" placeholder="Enter your word here" aria-label="player input">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="submit-button">Submit</button>
        </div>
      </div>
    </div>
    
    <% @letters.each do |letter| %>
      <%= hidden_field_tag 'letters[]', letter %>
    <% end %>
  </form>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

</div>
