<div class="container">
  <div class="d-flex flex-column align-items-center my-5">
    <h1>Results</h1>
    <div>
      <%= @result.html_safe %>
    </div>
    <a href="/new">Play again</a>
  </div>

</div>
